    <h1>Catagram</h1>
    <h2>Hello , {{name}}</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsam nesciunt voluptates accusantium esse excepturi et vitae dolor sunt facilis.</p>

    <p>in template</p>
  
